* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.logo {
  display: block;
  margin: 0 auto;
}

.search-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid #e1e3e7;
  border-radius: 24px;
  width: 582px;
  height: 44px;
  margin: 26px auto;
  padding: 16px;
}

.icon {
  width: 20px;
}

.search-form {
  display: flex;
  width: 100%;
  padding: 0 16px 0 16px;
}

.search-form input[type="text"] {
  font-size: 16px;
  width: 100%;
  border: 0;
  outline: none;
}

.top-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 10px;
}

.top-nav li {
  padding: 8px;
  font-size: 13px;
}

.top-nav a {
  text-decoration: none;
  color: black;
}

.top-nav button {
  padding: 10px 26px;
  background-color: #1a73e8;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.search-button {
  display: flex;
  justify-content: center;
}

.search-button button {
  padding: 10px 18px;
  margin: 0 5px;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  color: #202124;
  cursor: pointer;
}

.bottom-nav {
  display: flex;
  flex: 2 1;
  background-color: #f2f2f2;
  font-size: 14px;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e6e7e9;
}

.bottom-nav-menu {
  display: flex;
  list-style: none;
}

.bottom-nav-menu a {
  display: block;
  padding: 15px;
  color: #70757a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
